<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Spelling Bee Bestie</title>
	<link rel="shortcut icon" href="/assets/img/bee.png" />
	<link rel="stylesheet" type="text/css" href="/assets/output.css" />

	<script src="https://kit.fontawesome.com/306d133c2c.js" crossorigin="anonymous"></script>


	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	<nav class="-mb-px text-sm font-medium text-gray-600 border-b border-gray-200">
		<a href="/login"><img id="logo" src="/assets/img/bee.png" alt="face logo"
				class="inline-block py-3 w-8 mx-3 border-b-2 border-transparent hover:text-gray-800 hover:border-gray-400">
		</a>
		<div class="inline-block p-4 border-b-2 border-transparent hover:text-gray-800 hover:border-gray-400">
			<a href="/logout">Log out</a>
		</div>
	</nav>

	<div id="content" class="grid grid-cols-2 gap-6">

		<div id="hints" class="grid grid-rows-2 gap-4 m-4 ">
			<div id="userInputBox" class="border-b-2 border-gray-300"></div>

			<div id="letterTable" class="">
			</div>

			{{!-- <div id="twoLetterList" class="bg-blue-100 h-48">
			</div> --}}
		</div>


		<div id="wordsDisplay" class="h-screen m-4 mb-10">
			<div id="wordInputArea" class="mb-3">

			</div>

			<h2 class='font-bold font-display text-xl'>Your Words:</h2>
			<div id="words" class="bg-gray-50 h-full p-4 rounded-md">

			</div>
		</div>

	</div>

	<div id="adSpace" class="fixed bottom-5 inset-x-4 ">
		<a href="https://nk1327-project1-d895b0459c56.herokuapp.com" target="_blank">
			<div id='adDiv' className='bg-fixed w-full h-16 border rounded-md '
				style="background-image: url('./assets/img/citrusBg.jpg') ">

			</div>
		</a>
	</div>

	<div id="errorDiv" class='hidden'>
		<h3><span id="errorMessage"></span></h3>
		<img id="bee" src="assets/img/bee.png" alt="bee" />
	</div>

	<script src="/assets/appBundle.js"></script>
</body>

</html>