<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Spelling Bee Bestie</title>
	<link rel="shortcut icon" href="/assets/img/bee.png" />
	<link rel="stylesheet" type="text/css" href="/assets/output.css" />

	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	<nav class="-mb-px text-sm font-medium text-gray-600 border-b border-gray-200">
		<a href="/login"><img id="logo" src="/assets/img/bee.png" alt="face logo"
				class="inline-block py-3 w-8 mx-3 border-b-2 border-transparent hover:text-gray-800 hover:border-gray-400">
		</a>
		<div class="inline-block p-4 border-b-2 border-transparent hover:text-gray-800 hover:border-gray-400">
			<a href="/logout">Log out</a>
		</div>
	</nav>

	<div id="content" class="grid grid-cols-2 gap-6">
		<div id="hints" class="grid grid-rows-2 gap-4">
			<div id="letterTable" class="m-4 bg-red-100">
				{{!-- <table class="table-auto">
					<thead>
						<tr>
							<th class="text-xs text-left">1st Letter</th>
							<th>4</th>
							<th>5</th>
							<th>6</th>
							<th>7</th>
							<th>8</th>
							<th>9</th>
							<th>10</th>
							<th>11</th>
							<th>12</th>
							<th>13</th>
							<th>14</th>
							<th class="font-bold">∑</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="text" id="l1" class="w-8 h-8" /></td>
							<td><input type="numer" id="l1-4" class="w-8 h-8" /></td>
							<td><input type="numer" id="l1-5" class="w-8 h-8" /></td>
							<td><input type="numer" id="l1-6" class="w-8 h-8" /></td>
							<td><input type="numer" id="l1-7" class="w-8 h-8" /></td>
							<td><input type="numer" id="l1-8" class="w-8 h-8" /></td>
							<td><input type="numer" id="l1-9" class="w-8 h-8" /></td>
							<td><input type="numer" id="l1-10" class="w-8 h-8" /></td>
							<td><input type="numer" id="l1-11" class="w-8 h-8" /></td>
							<td><input type="numer" id="l1-12" class="w-8 h-8" /></td>
							<td><input type="numer" id="l1-13" class="w-8 h-8" /></td>
							<td><input type="numer" id="l1-14" class="w-8 h-8" /></td>
						</tr>
						<tr>
							<td><input type="text" id="l2" class="w-8 h-8" /></td>
							<td><input type="numer" id="len4" class="w-8 h-8" /></td>
							<td><input type="numer" id="len5" class="w-8 h-8" /></td>
							<td><input type="numer" id="len6" class="w-8 h-8" /></td>
							<td><input type="numer" id="len7" class="w-8 h-8" /></td>
							<td><input type="numer" id="len8" class="w-8 h-8" /></td>
							<td><input type="numer" id="len9" class="w-8 h-8" /></td>
							<td><input type="numer" id="len10" class="w-8 h-8" /></td>
							<td><input type="numer" id="len11" class="w-8 h-8" /></td>
							<td><input type="numer" id="len12" class="w-8 h-8" /></td>
							<td><input type="numer" id="len13" class="w-8 h-8" /></td>
							<td><input type="numer" id="len14" class="w-8 h-8" /></td>
						</tr>
						<tr>
							<td><input type="text" id="l1" class="w-8 h-8" /></td>
							<td><input type="numer" id="len4" class="w-8 h-8" /></td>
							<td><input type="numer" id="len5" class="w-8 h-8" /></td>
							<td><input type="numer" id="len6" class="w-8 h-8" /></td>
							<td><input type="numer" id="len7" class="w-8 h-8" /></td>
							<td><input type="numer" id="len8" class="w-8 h-8" /></td>
							<td><input type="numer" id="len9" class="w-8 h-8" /></td>
							<td><input type="numer" id="len10" class="w-8 h-8" /></td>
							<td><input type="numer" id="len11" class="w-8 h-8" /></td>
							<td><input type="numer" id="len12" class="w-8 h-8" /></td>
							<td><input type="numer" id="len13" class="w-8 h-8" /></td>
							<td><input type="numer" id="len14" class="w-8 h-8" /></td>
						</tr>
						<tr>
							<td><input type="text" id="l1" class="w-8 h-8" /></td>
							<td><input type="numer" id="len4" class="w-8 h-8" /></td>
							<td><input type="numer" id="len5" class="w-8 h-8" /></td>
							<td><input type="numer" id="len6" class="w-8 h-8" /></td>
							<td><input type="numer" id="len7" class="w-8 h-8" /></td>
							<td><input type="numer" id="len8" class="w-8 h-8" /></td>
							<td><input type="numer" id="len9" class="w-8 h-8" /></td>
							<td><input type="numer" id="len10" class="w-8 h-8" /></td>
							<td><input type="numer" id="len11" class="w-8 h-8" /></td>
							<td><input type="numer" id="len12" class="w-8 h-8" /></td>
							<td><input type="numer" id="len13" class="w-8 h-8" /></td>
							<td><input type="numer" id="len14" class="w-8 h-8" /></td>
						</tr>
						<tr>
							<td><input type="text" id="l1" class="w-8 h-8" /></td>
							<td><input type="numer" id="len4" class="w-8 h-8" /></td>
							<td><input type="numer" id="len5" class="w-8 h-8" /></td>
							<td><input type="numer" id="len6" class="w-8 h-8" /></td>
							<td><input type="numer" id="len7" class="w-8 h-8" /></td>
							<td><input type="numer" id="len8" class="w-8 h-8" /></td>
							<td><input type="numer" id="len9" class="w-8 h-8" /></td>
							<td><input type="numer" id="len10" class="w-8 h-8" /></td>
							<td><input type="numer" id="len11" class="w-8 h-8" /></td>
							<td><input type="numer" id="len12" class="w-8 h-8" /></td>
							<td><input type="numer" id="len13" class="w-8 h-8" /></td>
							<td><input type="numer" id="len14" class="w-8 h-8" /></td>
						</tr>
						<tr>
							<td><input type="text" id="l1" class="w-8 h-8" /></td>
							<td><input type="numer" id="len4" class="w-8 h-8" /></td>
							<td><input type="numer" id="len5" class="w-8 h-8" /></td>
							<td><input type="numer" id="len6" class="w-8 h-8" /></td>
							<td><input type="numer" id="len7" class="w-8 h-8" /></td>
							<td><input type="numer" id="len8" class="w-8 h-8" /></td>
							<td><input type="numer" id="len9" class="w-8 h-8" /></td>
							<td><input type="numer" id="len10" class="w-8 h-8" /></td>
							<td><input type="numer" id="len11" class="w-8 h-8" /></td>
							<td><input type="numer" id="len12" class="w-8 h-8" /></td>
							<td><input type="numer" id="len13" class="w-8 h-8" /></td>
							<td><input type="numer" id="len14" class="w-8 h-8" /></td>
						</tr>
						<tr>
							<td><input type="text" id="l1" class="w-8 h-8" /></td>
							<td><input type="numer" id="len4" class="w-8 h-8" /></td>
							<td><input type="numer" id="len5" class="w-8 h-8" /></td>
							<td><input type="numer" id="len6" class="w-8 h-8" /></td>
							<td><input type="numer" id="len7" class="w-8 h-8" /></td>
							<td><input type="numer" id="len8" class="w-8 h-8" /></td>
							<td><input type="numer" id="len9" class="w-8 h-8" /></td>
							<td><input type="numer" id="len10" class="w-8 h-8" /></td>
							<td><input type="numer" id="len11" class="w-8 h-8" /></td>
							<td><input type="numer" id="len12" class="w-8 h-8" /></td>
							<td><input type="numer" id="len13" class="w-8 h-8" /></td>
							<td><input type="numer" id="len14" class="w-8 h-8" /></td>
						</tr>
						<tr>
							<td><input type="text" id="l1" class="w-8 h-8" /></td>
							<td><input type="numer" id="len4" class="w-8 h-8" /></td>
							<td><input type="numer" id="len5" class="w-8 h-8" /></td>
							<td><input type="numer" id="len6" class="w-8 h-8" /></td>
							<td><input type="numer" id="len7" class="w-8 h-8" /></td>
							<td><input type="numer" id="len8" class="w-8 h-8" /></td>
							<td><input type="numer" id="len9" class="w-8 h-8" /></td>
							<td><input type="numer" id="len10" class="w-8 h-8" /></td>
							<td><input type="numer" id="len11" class="w-8 h-8" /></td>
							<td><input type="numer" id="len12" class="w-8 h-8" /></td>
							<td><input type="numer" id="len13" class="w-8 h-8" /></td>
							<td><input type="numer" id="len14" class="w-8 h-8" /></td>
						</tr>
						<tr>
							<td class="w-8 h-8">∑</td>
							<td class="w-8 h-8"></td>
							<td class="w-8 h-8"></td>
							<td class="w-8 h-8"></td>
							<td class="w-8 h-8"></td>
							<td class="w-8 h-8"></td>
							<td class="w-8 h-8"></td>
							<td class="w-8 h-8"></td>
							<td class="w-8 h-8"></td>
							<td class="w-8 h-8"></td>
							<td class="w-8 h-8"></td>
							<td class="w-8 h-8"></td>
						</tr>
					</tbody>
				</table> --}}
			</div>
			<div id="twoLetterList" class="bg-blue-100 h-48">

			</div>
		</div>


		<div id="words" class="bg-green-100 h-96">

		</div>
	</div>


	{{!-- was: id="makeDomo" --}}
	<section id="makeDomo">

	</section>

	{{!-- was: id="domos" --}}
	<section id="domos">

	</section>

	<div id="errorDiv" class='hidden'>
		<img id="speech" src="/assets/img/speech.png" alt="speech box" />
		<h3><span id="errorMessage"></span></h3>
		<img id="domo" src="assets/img/domo.png" alt="domo" />
	</div>

	<script src="/assets/appBundle.js"></script>
</body>

</html>