<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Spelling Bee Bestie</title>
    <link rel="shortcut icon" href="/assets/img/bee.png" />
    <link rel="stylesheet" type="text/css" href="/assets/output.css" />

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    {{!-- navigation --}}
    <nav class="-mb-px text-sm font-medium text-gray-600 border-b border-gray-200">
        {{!-- the bee icon will lead to the login page --}}
        <a href="/login"><img id="logo" src="/assets/img/bee.png" alt="face logo"
                class="inline-block py-3 w-8 mx-3 border-b-2 border-transparent hover:text-gray-800 hover:border-gray-400">
        </a>
        {{!-- the logout button will log you out --}}
        <div class="inline-block p-4 py-5 border-b-2 border-transparent hover:text-gray-800 hover:border-gray-400">
            <a href="/logout">Log out</a>
        </div>
    </nav>

    {{!-- setupContent is where the letter table and two letter list will be rendered --}}
    <div id="setupContent">
        {{!--^^ class="grid sm:grid-cols-1 md:grid-cols-2 gap-3" --}}
        <h1 class="font-bold font-display text-2xl m-4 md:col-span-2 sm:col-span-1">Fill in the table and the two letter
            word list:</h1>

        <div id="userInputBox"></div>

        <div id="tableSetup" class="m-4 bg-purple-200">
            {{!-- the table will go here --}}
        </div>

        {{!-- <div id="twoLetterListSetup" class="m-4 bg-orange-200">
            {{!-- the two letter list will go here --}}
        </div> --}}
    </div>

    <div id="submitSetup" class="m-4">
        {{!-- the submit button will go here. it will post the data to the db and take the user to the main app page
        --}}
    </div>


    <div id="errorDiv" class='hidden'>
        <img id="speech" src="/assets/img/speech.png" alt="speech box" />
        <h3><span id="errorMessage"></span></h3>
        <img id="domo" src="assets/img/domo.png" alt="domo" />
    </div>

    <script src="/assets/setupBundle.js"></script>
</body>

</html>