<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Spelling Bee Bestie</title>
    <link rel="shortcut icon" href="/assets/img/bee.png" />
    <link rel="stylesheet" type="text/css" href="/assets/output.css" />

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    {{!-- navigation --}}
    <nav clsass="-mb-px text-sm font-medium text-gray-600 border-b border-gray-200">
        <a href="/login"><img id="logo" src="/assets/img/bee.png" alt="face logo"
                class="inline-block py-3 w-8 mx-3 border-b-2 border-transparent hover:text-gray-800 hover:border-gray-400">
        </a>
        <div class="inline-block p-4 border-b-2 border-transparent hover:text-gray-800 hover:border-gray-400">
            <a href="/logout">Log out</a>
        </div>
    </nav>

    <h1>Fill in the table and the two letter word list:</h1>
    <div id="content">
        <div id="tableSetup">
            <div>
                <h2>Letter Table</h2>
                <p>Enter each letter and the number of words that start with each letter and are of each length.</p>
                <p>For example, if there are 3 words that start with "a" and are 4 letters long, enter "3" in the box at
                    the intersection of "a" and "4".</p>
            </div>
            <table class="table-auto">
                <thead>
                    <tr>
                        <th class="text-xs text-left">1st Letter</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>
                    </tr>
                </thead>
                <tbody>
                    {{!-- letter 1 --}}
                    <tr>
                        <td><input type="text" id="l1" class="w-8 h-8" /></td>
                        <td><input type="number" id="l1-4" class="w-8 h-8" /></td>
                        <td><input type="number" id="l1-5" class="w-8 h-8" /></td>
                        <td><input type="number" id="l1-6" class="w-8 h-8" /></td>
                        <td><input type="number" id="l1-7" class="w-8 h-8" /></td>
                        <td><input type="number" id="l1-8" class="w-8 h-8" /></td>
                        <td><input type="number" id="l1-9" class="w-8 h-8" /></td>
                        <td><input type="number" id="l1-10" class="w-8 h-8" /></td>
                        <td><input type="number" id="l1-11" class="w-8 h-8" /></td>
                        <td><input type="number" id="l1-12" class="w-8 h-8" /></td>
                        <td><input type="number" id="l1-13" class="w-8 h-8" /></td>
                        <td><input type="number" id="l1-14" class="w-8 h-8" /></td>
                    </tr>
                    {{!-- letter 2 --}}
                    <tr>
                        <td><input type="text" id="l2" class="w-8 h-8" /></td>
                        <td><input type="number" id="l2-4" class="w-8 h-8" /></td>
                        <td><input type="number" id="l2-5" class="w-8 h-8" /></td>
                        <td><input type="number" id="l2-6" class="w-8 h-8" /></td>
                        <td><input type="number" id="l2-7" class="w-8 h-8" /></td>
                        <td><input type="number" id="l2-8" class="w-8 h-8" /></td>
                        <td><input type="number" id="l2-9" class="w-8 h-8" /></td>
                        <td><input type="number" id="l2-10" class="w-8 h-8" /></td>
                        <td><input type="number" id="l2-11" class="w-8 h-8" /></td>
                        <td><input type="number" id="l2-12" class="w-8 h-8" /></td>
                        <td><input type="number" id="l2-13" class="w-8 h-8" /></td>
                        <td><input type="number" id="l2-14" class="w-8 h-8" /></td>
                    </tr>
                    {{!-- letter 3 --}}
                    <tr>
                        <td><input type="text" id="l3" class="w-8 h-8" /></td>
                        <td><input type="number" id="l3-4" class="w-8 h-8" /></td>
                        <td><input type="number" id="l3-5" class="w-8 h-8" /></td>
                        <td><input type="number" id="l3-6" class="w-8 h-8" /></td>
                        <td><input type="number" id="l3-7" class="w-8 h-8" /></td>
                        <td><input type="number" id="l3-8" class="w-8 h-8" /></td>
                        <td><input type="number" id="l3-9" class="w-8 h-8" /></td>
                        <td><input type="number" id="l3-10" class="w-8 h-8" /></td>
                        <td><input type="number" id="l3-11" class="w-8 h-8" /></td>
                        <td><input type="number" id="l3-12" class="w-8 h-8" /></td>
                        <td><input type="number" id="l3-13" class="w-8 h-8" /></td>
                        <td><input type="number" id="l3-14" class="w-8 h-8" /></td>
                    </tr>
                    {{!-- letter 4 --}}
                    <tr>
                        <td><input type="text" id="l4" class="w-8 h-8" /></td>
                        <td><input type="number" id="l4-4" class="w-8 h-8" /></td>
                        <td><input type="number" id="l4-5" class="w-8 h-8" /></td>
                        <td><input type="number" id="l4-6" class="w-8 h-8" /></td>
                        <td><input type="number" id="l4-7" class="w-8 h-8" /></td>
                        <td><input type="number" id="l4-8" class="w-8 h-8" /></td>
                        <td><input type="number" id="l4-9" class="w-8 h-8" /></td>
                        <td><input type="number" id="l4-10" class="w-8 h-8" /></td>
                        <td><input type="number" id="l4-11" class="w-8 h-8" /></td>
                        <td><input type="number" id="l4-12" class="w-8 h-8" /></td>
                        <td><input type="number" id="l4-13" class="w-8 h-8" /></td>
                        <td><input type="number" id="l4-14" class="w-8 h-8" /></td>
                    </tr>
                    {{!-- letter 5 --}}
                    <tr>
                        <td><input type="text" id="l5" class="w-8 h-8" /></td>
                        <td><input type="number" id="l5-4" class="w-8 h-8" /></td>
                        <td><input type="number" id="l5-5" class="w-8 h-8" /></td>
                        <td><input type="number" id="l5-6" class="w-8 h-8" /></td>
                        <td><input type="number" id="l5-7" class="w-8 h-8" /></td>
                        <td><input type="number" id="l5-8" class="w-8 h-8" /></td>
                        <td><input type="number" id="l5-9" class="w-8 h-8" /></td>
                        <td><input type="number" id="l5-10" class="w-8 h-8" /></td>
                        <td><input type="number" id="l5-11" class="w-8 h-8" /></td>
                        <td><input type="number" id="l5-12" class="w-8 h-8" /></td>
                        <td><input type="number" id="l5-13" class="w-8 h-8" /></td>
                        <td><input type="number" id="l5-14" class="w-8 h-8" /></td>
                    </tr>
                    {{!-- letter 6 --}}
                    <tr>
                        <td><input type="text" id="l6" class="w-8 h-8" /></td>
                        <td><input type="number" id="l6-4" class="w-8 h-8" /></td>
                        <td><input type="number" id="l6-5" class="w-8 h-8" /></td>
                        <td><input type="number" id="l6-6" class="w-8 h-8" /></td>
                        <td><input type="number" id="l6-7" class="w-8 h-8" /></td>
                        <td><input type="number" id="l6-8" class="w-8 h-8" /></td>
                        <td><input type="number" id="l6-9" class="w-8 h-8" /></td>
                        <td><input type="number" id="l6-10" class="w-8 h-8" /></td>
                        <td><input type="number" id="l6-11" class="w-8 h-8" /></td>
                        <td><input type="number" id="l6-12" class="w-8 h-8" /></td>
                        <td><input type="number" id="l6-13" class="w-8 h-8" /></td>
                        <td><input type="number" id="l6-14" class="w-8 h-8" /></td>
                    </tr>
                    {{!-- letter 7 --}}
                    <tr>
                        <td><input type="text" id="l7" class="w-8 h-8" /></td>
                        <td><input type="number" id="l7-4" class="w-8 h-8" /></td>
                        <td><input type="number" id="l7-5" class="w-8 h-8" /></td>
                        <td><input type="number" id="l7-6" class="w-8 h-8" /></td>
                        <td><input type="number" id="l7-7" class="w-8 h-8" /></td>
                        <td><input type="number" id="l7-8" class="w-8 h-8" /></td>
                        <td><input type="number" id="l7-9" class="w-8 h-8" /></td>
                        <td><input type="number" id="l7-10" class="w-8 h-8" /></td>
                        <td><input type="number" id="l7-11" class="w-8 h-8" /></td>
                        <td><input type="number" id="l7-12" class="w-8 h-8" /></td>
                        <td><input type="number" id="l7-13" class="w-8 h-8" /></td>
                        <td><input type="number" id="l7-14" class="w-8 h-8" /></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="twoLetterListSetup">
            <div>
                <h2>Two Letter Word List</h2>
                <p> Hints for the amount of words that start with the 2 letters.</p>
            </div>
            <div class="grid">
                <div id="letter1">
                    <h3>Letter 1</h3>

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />
                </div>

                <div id="letter2">
                    <h3>Letter 2</h3>

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />
                </div>

                <div id="letter3">
                    <h3>Letter 3</h3>

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />
                </div>

                <div id="letter4">
                    <h3>Letter 4</h3>

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />
                </div>

                <div id="letter5">
                    <h3>Letter 5</h3>

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />
                </div>

                <div id="letter6">
                    <h3>Letter 6</h3>

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />
                </div>

                <div id="letter7">
                    <h3>Letter 7</h3>

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />

                    <input type="text" class="w-8 h-8" />-
                    <input type="number" class="w-8 h-8" />
                </div>
            </div>


        </div>

        <div id="content" class="grid grid-cols-2 gap-6">
            <div id="hints" class="grid grid-rows-2 gap-4">
                <div id="letterTable" class="m-4">
                    <table class="table-auto">
                        <thead>
                            <tr>
                                <th class="text-xs text-left">1st Letter</th>
                                <th>4</th>
                                <th>5</th>
                                <th>6</th>
                                <th>7</th>
                                <th>8</th>
                                <th>9</th>
                                <th>10</th>
                                <th>11</th>
                                <th>12</th>
                                <th>13</th>
                                <th>14</th>
                                <th class="font-bold">∑</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" id="l1" class="w-8 h-8" /></td>
                                <td><input type="number" id="l1-4" class="w-8 h-8" /></td>
                                <td><input type="number" id="l1-5" class="w-8 h-8" /></td>
                                <td><input type="number" id="l1-6" class="w-8 h-8" /></td>
                                <td><input type="number" id="l1-7" class="w-8 h-8" /></td>
                                <td><input type="number" id="l1-8" class="w-8 h-8" /></td>
                                <td><input type="number" id="l1-9" class="w-8 h-8" /></td>
                                <td><input type="number" id="l1-10" class="w-8 h-8" /></td>
                                <td><input type="number" id="l1-11" class="w-8 h-8" /></td>
                                <td><input type="number" id="l1-12" class="w-8 h-8" /></td>
                                <td><input type="number" id="l1-13" class="w-8 h-8" /></td>
                                <td><input type="number" id="l1-14" class="w-8 h-8" /></td>
                            </tr>
                            <tr>
                                <td><input type="text" id="l2" class="w-8 h-8" /></td>
                                <td><input type="number" id="len4" class="w-8 h-8" /></td>
                                <td><input type="number" id="len5" class="w-8 h-8" /></td>
                                <td><input type="number" id="len6" class="w-8 h-8" /></td>
                                <td><input type="number" id="len7" class="w-8 h-8" /></td>
                                <td><input type="number" id="len8" class="w-8 h-8" /></td>
                                <td><input type="number" id="len9" class="w-8 h-8" /></td>
                                <td><input type="number" id="len10" class="w-8 h-8" /></td>
                                <td><input type="number" id="len11" class="w-8 h-8" /></td>
                                <td><input type="number" id="len12" class="w-8 h-8" /></td>
                                <td><input type="number" id="len13" class="w-8 h-8" /></td>
                                <td><input type="number" id="len14" class="w-8 h-8" /></td>
                            </tr>
                            <tr>
                                <td><input type="text" id="l1" class="w-8 h-8" /></td>
                                <td><input type="number" id="len4" class="w-8 h-8" /></td>
                                <td><input type="number" id="len5" class="w-8 h-8" /></td>
                                <td><input type="number" id="len6" class="w-8 h-8" /></td>
                                <td><input type="number" id="len7" class="w-8 h-8" /></td>
                                <td><input type="number" id="len8" class="w-8 h-8" /></td>
                                <td><input type="number" id="len9" class="w-8 h-8" /></td>
                                <td><input type="number" id="len10" class="w-8 h-8" /></td>
                                <td><input type="number" id="len11" class="w-8 h-8" /></td>
                                <td><input type="number" id="len12" class="w-8 h-8" /></td>
                                <td><input type="number" id="len13" class="w-8 h-8" /></td>
                                <td><input type="number" id="len14" class="w-8 h-8" /></td>
                            </tr>
                            <tr>
                                <td><input type="text" id="l1" class="w-8 h-8" /></td>
                                <td><input type="number" id="len4" class="w-8 h-8" /></td>
                                <td><input type="number" id="len5" class="w-8 h-8" /></td>
                                <td><input type="number" id="len6" class="w-8 h-8" /></td>
                                <td><input type="number" id="len7" class="w-8 h-8" /></td>
                                <td><input type="number" id="len8" class="w-8 h-8" /></td>
                                <td><input type="number" id="len9" class="w-8 h-8" /></td>
                                <td><input type="number" id="len10" class="w-8 h-8" /></td>
                                <td><input type="number" id="len11" class="w-8 h-8" /></td>
                                <td><input type="number" id="len12" class="w-8 h-8" /></td>
                                <td><input type="number" id="len13" class="w-8 h-8" /></td>
                                <td><input type="number" id="len14" class="w-8 h-8" /></td>
                            </tr>
                            <tr>
                                <td><input type="text" id="l1" class="w-8 h-8" /></td>
                                <td><input type="number" id="len4" class="w-8 h-8" /></td>
                                <td><input type="number" id="len5" class="w-8 h-8" /></td>
                                <td><input type="number" id="len6" class="w-8 h-8" /></td>
                                <td><input type="number" id="len7" class="w-8 h-8" /></td>
                                <td><input type="number" id="len8" class="w-8 h-8" /></td>
                                <td><input type="number" id="len9" class="w-8 h-8" /></td>
                                <td><input type="number" id="len10" class="w-8 h-8" /></td>
                                <td><input type="number" id="len11" class="w-8 h-8" /></td>
                                <td><input type="number" id="len12" class="w-8 h-8" /></td>
                                <td><input type="number" id="len13" class="w-8 h-8" /></td>
                                <td><input type="number" id="len14" class="w-8 h-8" /></td>
                            </tr>
                            <tr>
                                <td><input type="text" id="l1" class="w-8 h-8" /></td>
                                <td><input type="number" id="len4" class="w-8 h-8" /></td>
                                <td><input type="number" id="len5" class="w-8 h-8" /></td>
                                <td><input type="number" id="len6" class="w-8 h-8" /></td>
                                <td><input type="number" id="len7" class="w-8 h-8" /></td>
                                <td><input type="number" id="len8" class="w-8 h-8" /></td>
                                <td><input type="number" id="len9" class="w-8 h-8" /></td>
                                <td><input type="number" id="len10" class="w-8 h-8" /></td>
                                <td><input type="number" id="len11" class="w-8 h-8" /></td>
                                <td><input type="number" id="len12" class="w-8 h-8" /></td>
                                <td><input type="number" id="len13" class="w-8 h-8" /></td>
                                <td><input type="number" id="len14" class="w-8 h-8" /></td>
                            </tr>
                            <tr>
                                <td><input type="text" id="l1" class="w-8 h-8" /></td>
                                <td><input type="number" id="len4" class="w-8 h-8" /></td>
                                <td><input type="number" id="len5" class="w-8 h-8" /></td>
                                <td><input type="number" id="len6" class="w-8 h-8" /></td>
                                <td><input type="number" id="len7" class="w-8 h-8" /></td>
                                <td><input type="number" id="len8" class="w-8 h-8" /></td>
                                <td><input type="number" id="len9" class="w-8 h-8" /></td>
                                <td><input type="number" id="len10" class="w-8 h-8" /></td>
                                <td><input type="number" id="len11" class="w-8 h-8" /></td>
                                <td><input type="number" id="len12" class="w-8 h-8" /></td>
                                <td><input type="number" id="len13" class="w-8 h-8" /></td>
                                <td><input type="number" id="len14" class="w-8 h-8" /></td>
                            </tr>
                            <tr>
                                <td><input type="text" id="l1" class="w-8 h-8" /></td>
                                <td><input type="number" id="len4" class="w-8 h-8" /></td>
                                <td><input type="number" id="len5" class="w-8 h-8" /></td>
                                <td><input type="number" id="len6" class="w-8 h-8" /></td>
                                <td><input type="number" id="len7" class="w-8 h-8" /></td>
                                <td><input type="number" id="len8" class="w-8 h-8" /></td>
                                <td><input type="number" id="len9" class="w-8 h-8" /></td>
                                <td><input type="number" id="len10" class="w-8 h-8" /></td>
                                <td><input type="number" id="len11" class="w-8 h-8" /></td>
                                <td><input type="number" id="len12" class="w-8 h-8" /></td>
                                <td><input type="number" id="len13" class="w-8 h-8" /></td>
                                <td><input type="number" id="len14" class="w-8 h-8" /></td>
                            </tr>
                            <tr>
                                <td class="w-8 h-8">∑</td>
                                <td class="w-8 h-8"></td>
                                <td class="w-8 h-8"></td>
                                <td class="w-8 h-8"></td>
                                <td class="w-8 h-8"></td>
                                <td class="w-8 h-8"></td>
                                <td class="w-8 h-8"></td>
                                <td class="w-8 h-8"></td>
                                <td class="w-8 h-8"></td>
                                <td class="w-8 h-8"></td>
                                <td class="w-8 h-8"></td>
                                <td class="w-8 h-8"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="twoLetterList" class="bg-blue-100 h-48">

                </div>
            </div>


            <div id="words" class="bg-green-100 h-96">

            </div>
        </div>


        {{!-- was: id="makeDomo" --}}
        <section id="makeDomo">

        </section>

        {{!-- was: id="domos" --}}
        <section id="domos">

        </section>

        <div id="errorDiv" class='hidden'>
            <img id="speech" src="/assets/img/speech.png" alt="speech box" />
            <h3><span id="errorMessage"></span></h3>
            <img id="domo" src="assets/img/domo.png" alt="domo" />
        </div>

        <script src="/assets/appBundle.js"></script>
</body>

</html>